{% extends 'navbar.html' %}
{% load custom_tags %}
{% load crispy_forms_tags %}
{% block title %}
  {{ user_profile.full_name }}(@{{ user_profile.user.username }})
{% endblock %}
{% block body %}
  <div class="container">
    <div class="row mt-5">
      <div class="col-4">
        <img width="250px" height="250px" class="border border-4 border-success rounded-circle" src="/media/{{user_profile.profile_pic|default_profile_pic }}" alt="User Profile Picture" />
      </div>
      <div class="col-6">
        {% if not already_followed %}
            <h3>{{ user_profile.user.username }}&nbsp; <a href="{% url 'LoginApp:follow' username=user_profile.user.username %}" class="btn btn-success btn-sm">Follow</a></h3>
        {% else %}
            <h3>{{ user_profile.user.username }}&nbsp; <a href="{% url 'LoginApp:un_follow' username=user_profile.user.username %}" class="btn btn-success btn-sm">Unfollow</a></h3>
        {% endif %}
       
        <h6>{{ user_profile.user.post.count }} Post &nbsp;|&nbsp; {{ user_profile.user.following.count }} Follower &nbsp;|&nbsp; {{ user_profile.user.follower.count }} Following</h6>
        <br />
        <h4>{{ user_profile.full_name }}</h4>
        <p>{{ user_profile.description }}</p>
        <p>
          <a target="_blank" class="me-2 text-decoration-none text-success" href="{{ user_profile.website }}"><i class="fa-solid fa-globe"></i></a>
          <a target="_blank" class="me-2 text-decoration-none" href="{{ user_profile.facebook }}"><i class="fa-brands fa-facebook"></i></a>
          <a target="_blank" class="text-dark text-decoration-none" href="{{ user_profile.x }}"><i class="fa-brands fa-square-x-twitter"></i></a>
        </p>
      </div>
      {% comment %} <hr class="border-2 border-success" /> {% endcomment %}
    </div>
  </div>
  <br />
  <div class="container">
    <div class="row">
      {% for post in user_profile.user.post.all %}
        <div class="card col-3 p-0 rounded-0">
          {% if forloop.counter < 5 %}
            <img class="rounded-0" style="width: 100%;height: 100%;" src="/media/{{ post.image }}" class="card-img-top" alt="..." />
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
  <br>
  <hr />
  <br />
  <div class="container">
    <div class="row">
      <div class="col-6 m-auto">
        {% for post in user_profile.user.post.all %}
          <div class="border border-2 mb-3">
            <div class="p-3 pb-0">
                <h5 class="m-0"><b>{{ user_profile.full_name }}</b></h5>
                <p style="font-size: 12px; m-0">{{ post.upload_date }}</p>
            </div>
            <img class="rounded-0 border mb-2" style="width: 100%;height: 100%;" src="/media/{{ post.image }}" class="card-img-top" alt="..." />
            <h6 class="m-0 mt-1 mb-3 ps-2">{{ post.caption }}</h6>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
